@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
  --colorPrimary: hsl(214, 70%, 50%);
  --colorSecondary: hsl(214, 70%, 60%);
  --colorDark: #111827;
  --colorMedium: #545964;
  --colorLight: #ece9e9;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Inter', sans-serif;
  background-color: var(--colorLight);
}

nav {
  background-color: var(--colorPrimary);
  text-align: center;
}

nav h1 {
  font-size: 2rem;
  padding: 0.7rem;
  color: var(--colorLight);
}
.translation-div {
  margin: auto;
  padding: 1rem;
  max-width: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

textarea {
  box-sizing: border-box;
  display: block;
  width: 100%;
  min-height: 20vh;
  margin: 2rem;
  font-size: large;
  border: 2px solid var(--colorDark);
  border-radius: 0.2rem;
  padding: 1rem;
  font-weight: bold;
}

button {
  background-color: var(--colorPrimary);
  color: var(--colorLight);
  margin: 1rem 0rem;
  padding: 0.5rem 1rem;
  font-size: large;
  border-radius: 0.2rem;
  cursor: pointer;
}
/* Footer Start */
.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--colorPrimary);

  position: absolute;
  bottom: 0;
  width: 100%;
}
.footer-links ul {
  margin: 0;
  padding: 0;
  display: flex;
}

.footer-links li a {
  color: var(--colorLight);
  padding: 1rem;
  display: block;
  font-weight: bold;
}

.footer-links li:hover {
  background-color: var(--colorSecondary);
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}
/* Footer End */
